<a href="{% url 'painel' %}" class="list-group-item list-group-item-action bg-transparent second-text active"><i class="fas fa-tachometer-alt me-2"></i>Painel</a> 
<a href="{% url 'cadastro' %}" class="list-group-item list-group-item-action"><i class="fas fa-book-open me-2"></i></i>Cadastros</a>
<a href="{% url 'relatorio' %}" class="list-group-item list-group-item-action"><i class="fas fa-file-alt me-2"></i></i>Relatorios</a>
<a href="{% url 'paciente' %}" class="list-group-item list-group-item-action"><i class="fas fa-user-injured me-2"></i></i>Paciente</a>
<a href="{% url 'servicos' %}" class="list-group-item list-group-item-action"><i class="fas fa-hammer me-2"></i>Serviços</a> 
<a href="{% url 'users' %}" class="list-group-item list-group-item-action"><i class="fas fa-users me-2"></i>Usuários do Sistema</a>  